<!-- Chat Messages -->
<div class="chat-messages" id="chat-messages">
    {% if show_welcome %}
    <!-- Willkommensnachricht bei erstem Start -->
    <div class="welcome-message welcome-container">
        <h2 class="welcome-title">Willkommen bei PersonaUI</h2>
        <p class="welcome-text">Starte jetzt deine erste Unterhaltung mit {{ character.char_name }}</p>
        <button class="welcome-start-btn" id="welcome-start-btn">
            Beginne deinen ersten Chat +
        </button>
    </div>
    {% else %}
    <!-- Chat-Historie -->
    {% for message in chat_history %}
        <div class="message {% if message.is_user %}user-message{% else %}bot-message{% endif %}" data-message-id="{{ message.id }}">
            <div class="message-avatar"
                 {% if message.is_user and user_profile and user_profile.user_avatar %}
                 {% set u_avatar_path = '/static/images/custom/' + user_profile.user_avatar if user_profile.get('user_avatar_type') == 'custom' else '/static/images/avatars/' + user_profile.user_avatar %}
                 style="background-image: url('{{ u_avatar_path }}'); background-size: cover; background-position: center;"
                 {% elif not message.is_user and character.avatar %}
                 {% set avatar_path = '/static/images/custom/' + character.avatar if character.get('avatar_type') == 'custom' else '/static/images/avatars/' + character.avatar %}
                 style="background-image: url('{{ avatar_path }}'); background-size: cover; background-position: center;"
                 {% endif %}>
                {% if message.is_user and (not user_profile or not user_profile.user_avatar) %}
                <span class="avatar-text">{{ (user_profile.user_name if user_profile and user_profile.user_name else 'Du')[0] | upper }}</span>
                {% elif not message.is_user and not character.avatar %}
                <span class="avatar-text">{{ message.character_name[0] }}</span>
                {% endif %}
            </div>
            <div class="message-content">
                <div class="message-sender">{% if message.is_user %}{{ user_profile.user_name if user_profile and user_profile.user_name else 'Du' }}{% else %}{{ message.character_name }}{% endif %}</div>
                <div class="message-bubble{% if message.memorized %} memorized{% endif %}">
                    {{ message.message | format_message | safe }}
                    <div class="message-time">{{ message.timestamp.split(' ')[1][:5] if message.timestamp else 'Jetzt' }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
