.background {
  position: fixed;
  inset: 0;
  z-index: var(--z-background);
  overflow: hidden;
  background-color: var(--background-color);
}

.blob {
  position: absolute;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  filter: blur(80px);
  opacity: 0.6;
  animation: blobMove 20s ease-in-out infinite;
}

.blob1 {
  width: 500px;
  height: 500px;
  background: var(--color-white);
  top: -100px;
  left: -100px;
  animation-duration: 25s;
}

.blob2 {
  width: 400px;
  height: 400px;
  background: var(--color-gradient1);
  top: 50%;
  right: -80px;
  animation-duration: 20s;
  animation-delay: -5s;
}

.blob3 {
  width: 350px;
  height: 350px;
  background: var(--color-sky);
  bottom: -80px;
  left: 30%;
  animation-duration: 22s;
  animation-delay: -10s;
}

@keyframes blobMove {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: translate(20px, -30px) rotate(90deg);
  }
  50% {
    border-radius: 40% 60% 50% 60% / 35% 45% 55% 65%;
    transform: translate(-10px, 20px) rotate(180deg);
  }
  75% {
    border-radius: 50% 30% 60% 40% / 60% 50% 30% 50%;
    transform: translate(15px, 10px) rotate(270deg);
  }
}
